<mat-toolbar color="secondary">

  <mat-toolbar-row style="text-align: center !important;">
    <span class="primary" ngStyle.xs="display: none">Happiness Reviews</span>
    <span class="example-spacer"></span>
    <section *ngIf="!isLogged">
      <button mat-button color="primary" class="header_button" (click)="openLogin()">Login</button>
    </section>
    <section *ngIf="isLogged">
      <button mat-button color="primary" class="header_button" (click)="goToHome()">Reviews List</button>
      <button mat-button color="primary" class="header_button" (click)="goToReviewer()">Rewiew</button>
      <button mat-button color="primary" class="header_button" (click)="goToCharts()">Statistics</button>
      <button mat-button color="primary" class="header_button" >Thank You</button>
      <button mat-button color="primary" class="header_button" (click)="logout()">Logout</button>
    </section>
  </mat-toolbar-row>

</mat-toolbar>

<ngx-spinner></ngx-spinner>
<router-outlet></router-outlet>