<mat-toolbar color="secondary">

  <mat-toolbar-row>
    <span class="primary">Happiness Reviews</span>
    <span class="example-spacer"></span>
    <section *ngIf="!isLogged">
      <button mat-button color="primary" class="header_button" (click)="openLogin()">Login</button>
    </section>
    <section *ngIf="isLogged">
      <button mat-button color="primary" class="header_button" (click)="openLogin()">Rewiew</button>
      <button mat-button color="primary" class="header_button" (click)="openLogin()">Thank You</button>
      <button mat-button color="primary" class="header_button" (click)="logout()">Logout</button>
    </section>
  </mat-toolbar-row>

</mat-toolbar>

<ngx-spinner></ngx-spinner>
<router-outlet></router-outlet>