<div class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width ma-top-20" cellspacing="0">
        <tr>
          <td>
            <div [class]="validator[constants.authentication.email] ? 'auth-email-error' : ''">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [(ngModel)]="username" name="username">
              <mat-hint *ngIf="validator[constants.authentication.email] ? 'auth-email-error' : ''">{{validator[constants.authentication.email]}}</mat-hint>
            </mat-form-field>
          </div>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</div>