<div class="reviews-list">
  <div class="section-title ma-top-50">
    <h1>Lista Recensioni</h1>
  </div>
  <div fxLayout="row" class="ma-top-30 pa-50">
    <div fxFlex="30">
      <div class="mat-elevation-z10 user-filters">
        <div class="filter-title ta-center">
          <h1>Ricerca Utente</h1>
        </div>
        <div [class]="validator[constants.review.review] ? 'input-error ta-center' : 'ta-center'">
          <mat-form-field appearance="outline" class="w-80-p">
            <mat-label>User to Reviews</mat-label>
            <mat-select #fontSize [(value)]="selectedUser" (selectionChange)="searchReviews($event)">
              <mat-option [value]="user" *ngFor="let user of usersOptions">{{user.name}} {{user.surname}}</mat-option>
            </mat-select>
            <mat-hint style="color: red" *ngIf="validator[constants.review.idUser]">
              {{validator[constants.review.idUser]}}</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxFlex="60" fxFlexOffset="10">
      <mat-card class="example-card ma-bottom-50 card" *ngFor="let review of reviewsOption">
        <mat-card-header fxLayout="column">
          <mat-card-title fxLayout="row">
            <div fxFlex="40">{{ selectedUser.name }}</div>
            <div fxFlex="25" fxFlexOffset="35">
              <div class="ta-left">
                <mat-icon *ngFor="let star of stars; let i = index" class="rew-stars star-colored">
                  {{ i+1 <= review.rating ? star.colored : star.notColored }}
                </mat-icon>
              </div>
            </div>
          </mat-card-title>
          <mat-card-subtitle> {{ selectedUser.email }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p style="margin: 0 16px">
            {{ review.review }}
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>